@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared  */
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
}

.btn-secondary{
    border-radius: 42px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 50px;
    border: 1px solid white;
    cursor: pointer;
}

/* Header Styles  */

header{
    background: linear-gradient(to bottom, #000000 0%, #000000 1%, #222222 50%, #000000 98%, #000000 100%);
    /* padding: 0 8%; */
}

.nav-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-title h1{
    font-size: 36px;
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 4px;
    padding-right: 20px;
  
}

.home{
    border-radius: 46px;
    background-color: #E6533C;
    padding: 8px 20px;
}

/* Banner Styles */

.banner-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    margin-top:80px;
    max-width: 40%;
    /* max-height: 100%; */
}

.banner-title{
    color: white;
    font-size: 6rem;
    margin-bottom: 1.5rem;
}

.banner-title span{
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-size: 8rem;
}

.banner-description{
    color: #ffffff80;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.banner-btn{
    display: flex;
    gap: 2rem;
}

.badge-1{
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -120px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff80;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

.badge-1 h1{
    color: white;
}
.badge-1 p{
    color: #ffffff80;
}

.badge-2{
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -450px;
    margin-left: 220px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff80;
    border-radius: 15px;
    backdrop-filter: blur(8px); 
}

.badge-2 h1{
    color: white;
    font-size: 2.5rem;
}
.badge-2 p{
    color: #ffffff80;
}

/* Habit Styles */

main{
    width: 80%;
    margin: 0 auto;
}

.habit-section{
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;

}

.habit-section h1{
    font-size: 3rem;
    margin-bottom: 15px;

}

.habit-section p{
    color: #ffffff80;
    font-size: 1.2rem;

}

.habit-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 0 auto;   */
}

.habit-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    margin-top: 0;
}

.habit-content img{
    border-radius: 50%;
    border: 5px solid #222222;
}

.habit-content h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
}

.habit-content p{
    color: #ffffff80;
    margin: 10px;
    max-width: 80%;
    
}

.run-section{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #222222;
    border-radius: 30px;
    margin: 70px;
}

.run-content{
    /* border: 1px solid white; */
    /* width: 50%; */
    padding: 50px;
}

.run-content h1{
    color: white;
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.run-content p{
    color: #ffffff80;
    margin-bottom: 3rem;
    width: 90%;
}

.run-img{
    width: 50%;
    padding: 15px;
}

.run-img img{
    border-radius: 30px;
}

/* BMI Calculator Styles*/

.bmi-section{
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
}

.bmi-title{
    margin: 50px 0;
    text-align: center;
}

.bmi-title h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 15px;
}

.bmi-title p{
    color: #ffffff80;
}