@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared  */
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
}

.btn-secondary{
    border-radius: 42px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 50px;
    border: 1px solid white;
    cursor: pointer;
}

/* Header Styles  */

header{
    background: linear-gradient(to bottom, #000000 0%, #000000 1%, #222222 50%, #000000 98%, #000000 100%);
    /* padding: 0 8%; */
}

.nav-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-title{
    font-size: 36px;
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 4px;
    padding-right: 20px;
  
}

.home{
    border-radius: 46px;
    background-color: #E6533C;
    padding: 8px 20px;
}

/* Banner Styles */

.banner-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    margin-top:80px;
    max-width: 40%;
    /* max-height: 100%; */
}

.banner-title{
    color: white;
    font-size: 6rem;
    margin-bottom: 1.5rem;
}

.banner-title span{
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-size: 8rem;
}

.banner-description{
    color: #ffffff80;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.banner-btn{
    display: flex;
    gap: 2rem;
}

.badge-1{
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -120px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff80;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

.badge-1 h1{
    color: white;
}
.badge-1 p{
    color: #ffffff80;
}

.badge-2{
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -450px;
    margin-left: 220px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff80;
    border-radius: 15px;
    backdrop-filter: blur(8px); 
}

.badge-2 h1{
    color: white;
    font-size: 2.5rem;
}
.badge-2 p{
    color: #ffffff80;
}

/* Habit Styles */

main{
    width: 80%;
    margin: 0 auto;
}

.habit-section{
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}

.habit-section h1{
    font-size: 3rem;
    margin-bottom: 15px;

}

.habit-section p{
    color: #ffffff80;
    font-size: 1.2rem;

}

.habit-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 0 auto;   */
}

.habit-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    margin-top: 0;
}

.habit-content img{
    border-radius: 50%;
    border: 5px solid #222222;
}

.habit-content h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
    margin-top: 1rem;
}

.habit-content p{
    color: #ffffff80;
    margin: 5px;
    max-width: 80%;
    
}

/* RUN  */

.run-section{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #222222;
    border-radius: 30px;
    margin: 70px;
}

.run-content{
    /* border: 1px solid white; */
    /* width: 50%; */
    padding: 50px;
}

.run-content h1{
    color: white;
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.run-content p{
    color: #ffffff80;
    margin-bottom: 3rem;
    width: 90%;
}

.run-img{
    width: 50%;
    padding: 15px;
}

.run-img img{
    border-radius: 30px;
}

/* Diet Styles */


.diet-section{
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #222222;
    border-radius: 30px;
    margin: 70px;
}

.diet-content{
    /* border: 1px solid white; */
    /* width: 50%; */
    padding: 50px;
}

.diet-content h1{
    color: white;
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.diet-content p{
    color: #ffffff80;
    margin-bottom: 3rem;
    width: 90%;
}

.diet-img{
    width: 50%;
    padding: 15px;
}

.diet-img img{
    border-radius: 30px;
    width: 100%;
}


/* BMI Calculator Styles*/

.bmi-calculator-section{
    width: 100%; 
    /* background-color: #000000; */
    color: white;

}


.bmi-heading{
    margin: 100px 0;
    padding-left: 400px;

}

.bmi-heading h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 15px;
}

.bmi-heading p{
    color: #ffffff80;
    padding-right: 500px;
    font-weight: 300;
}

.bmi-calculator{
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.bmi-chart{
    flex: 1;
    margin-right: 150px;
    padding-left: 100px;
}

.bmi-chart h2{
    font-size: 2rem;
    margin-bottom: 50px;
}

.bmi-chart table{
    width: 100%;
    border-collapse: collapse;
}

.bmi-chart th,
.bmi-chart td {
    color: #ffffff80;
    font-weight: 300;
    padding: 12px;
    border: 1px solid #444;
    text-align: left;
}

.bmi-chart th {
    height: 55px;
    font-weight: 600;
    color: #fff;
}

.bmi-calculator-form{
    padding: 40px;
    min-width: 300px;
    flex: 2;
    text-align: left;
}

.bmi-calculator-form h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.bmi-calculator-form p{
    color: #ffffff80;
    font-weight: 300;
    margin-bottom: 30px;
    padding-right: 300px;
}

.bmi-calculator-form input,
.bmi-calculator-form select {
    width: calc(40% - 5px);
    padding: 1rem;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

/* Our Team  */

.team {
    max-width: 90%;
    margin: 0 auto;
}

.team-content {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.team-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 20px;
    color: white;
}

.team-content p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    width: 100%;
}

.team-trainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 83.33%;
}

.trainer-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    
}

.team-trainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-radius: 18px;
    z-index: 1;
}

.team-trainer > h3,
.team-trainer > p {
    position: absolute;
    z-index: 2;
}

.team-trainer h3 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 2.4rem;
    left: 1.8rem;
}

.team-trainer p {
    color: #ffffff80;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1.8rem;
}


/* Footer  */

.footer {
    background-color: #222;
    color: #ffffff;
    padding: 60px 40px 20px;
    margin-top: 100px;
  }
  
  .footer-content {
    display: flex;
    justify-content:space-around;
    max-width: 75%;
    margin: 0 auto;
  }
  
  .footer-brand {
    flex: 0 0 40%;
    margin-right: 40px;
    flex: 2;
  }

  .footer-logo{
    margin-bottom: 1rem;
  }
  
  .footer-brand h2 {
    color: #E6533C;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .footer-brand p {
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 80px;
    color: #777
    
  }
  
  .footer-links {
    display: flex;
    gap: 120px;
    flex: 2;
    justify-content: space-evenly;
  }
  
  .link-column h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .link-column ul {
    list-style: none;
    padding: 0;
  }
  
  .link-column ul li {
    margin-bottom: 15px;
  }
  
  .link-column ul li a {
    color: #ffffff80;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 60px;
    font-size: 1rem;
    color: #ffffff80;
  }


  hr {
    width: 75%;
    margin: 20px auto;
    border: none;
    border-top: 2px solid #333;
  }